/*th{*/
/*  padding: 5px;*/
/*  border: 1px;*/
/*}*/

/*th {*/
/*  background: cornflowerblue;*/
/*  color: aliceblue;*/
/*  padding: 5px;*/
/*}*/
.panel {
  margin-top: 45px;
  margin-bottom: 40px;
  background-color: #0089d1;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 10px;

}

.panel button{
  float: right;
  margin-top: 40px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0089d1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
