<form class="booking-form" #f="ngForm">

  <!-- <div class="form-group">
   <label for="name">Nome</label>

   <input name="name" id="name"
          (ngModel)="booking.name"
          required
          #name="ngModel"/>

   <span [hidden]="name.valid || name.pristine" [ngClass]="'invalid-formfield'">Campo obbligatorio!</span>
   </div>

   <div class="form-group">
     <label for="surname">Cognome</label>

     <input name="surname" id="surname"
            (ngModel)="booking.surname"
            required
            #surname="ngModel"/>

     <span [hidden]="surname.valid || surname.pristine" [ngClass]="'invalid-formfield'">Campo obbligatorio!</span>
   </div>-->
<div style="float: left">
  <div class="form-group">
    <label for="dataFrom">Data inizio</label>

    <input type="date" name="dataFrom" id="dataFrom"
           (ngModel)="booking.dataFrom"
           required
           #dataFrom="ngModel"/>

    <span [hidden]="dataFrom.valid || dataFrom.pristine" [ngClass]="'invalid-formfield'">Campo obbligatorio!</span>
  </div>

  <div class="form-group">
    <label for="dataTo">Data fine</label>

    <input type="date" name="dataTo" id="dataTo"
           (ngModel)="booking.dataTo"
           required
           #dataTo="ngModel"/>

    <span [hidden]="dataTo.valid || dataTo.pristine" [ngClass]="'invalid-formfield'">Campo obbligatorio!</span>
  </div>

  <div>
    <label>Mezzo</label>
      <select>
        <option value="car">Automobile</option>
        <option value="aerplain">Aeroplano</option>
        <option value="train">Treno</option>
    </select>
  </div>

    <div class="form-group">
      <label for="numeroPosti">Numero posti</label>

      <input name="numeroPosti" id="numeroPosti"
             (ngModel)="booking.seats"
             required
             #numeroPosti="ngModel"/>

      <span [hidden]="numeroPosti.valid || numeroPosti.pristine" [ngClass]="'invalid-formfield'">Campo obbligatorio!</span>
    </div>

  <div class="form-group form-footer">
    <button [ngClass]="{'btn-save': f.valid, 'btn-save-disabled':!f.valid}"
            (click)="findAvailable()"
            [disabled]="!f.valid">Cerca disponbilità
    </button>
  </div>
</div>
  <div style="float: right">
    <div *ngIf="transportLoaded">
      <app-available-transport [transportList]="transportList"></app-available-transport>
    </div>
</div>
</form>
