
.navbar {
  position: relative;
  min-height: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: unset;
  height: 40px;

}
.navbar li{
  width: auto;
}

.logo-img{
  display: block;
  padding: 5px;
}
.user-place {

  float: right;
  margin-top: 15px;

}


