

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"*ngIf="showNavbar">
    <div class="container">
    <a class="navbar-brand" href="#" [routerLink]="['/bookings']">HIGHFLY.com
      <img  src="../../assets/img/TheHighFly_75.png" width="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="#" [routerLink]="['/bookings']">
            Prenotazioni
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="#" (click)="logout()">
            Logout
          </a>
        </li>
        <li class="nav-item">
            <span style="color:white">
              Ciao, {{user.username}}
            </span>
        </li>

      </ul>

    </div>
    </div>
</nav>
