<div class="row">

  <table class="table table-striped table-sm table-light">

    <!--<caption>{{transportTableHeader}}</caption>-->

    <thead>
    <tr>
      <th>Nome</th>
      <th>Numero posti</th>
      <th>Prezzo</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let transport of transportList">
      <td>{{transport.name}}</td>
      <td>{{transport.numPosti}}</td>
      <td>{{transport.price}}</td>
      <td class="buttons"></td>
      <td><button class="btn btn-primary" (click)="createBooking(transport)">Prenota<fa name="fas fa-rocket" fixed="true"></fa></button></td>
    </tr>
    </tbody>

  </table>
</div>
