.panel {
  margin-top: 45px;
  margin-bottom: 40px;
  background-color: #0089d1;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 10px;

}
.panel button{
  float: right;
  margin-top: 30px;
}

.panel label{
  color: #fff;
  margin-top: 10px;
}

.panel label span{
  color: #fff;
  height: 15px;
}
