<div class="row">
  <div class="row" >
    <div class="col-md-6">
      <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                    <span class="input-group-prepend">
                      <span class="input-group-text">
                      </span>
                    </span>
        <!-- <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText"
               type="text" placeholder="Cerca per nominativo"> -->
      </div>
    </div>
  </div>
  <table class="table table-striped table-sm table-light">

    <caption>{{bookingTableHeader}}</caption>

    <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Veicolo</th>
      <th>Partenza</th>
      <th>Ritorno</th>
      <th>Prezzo</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let booking of bookingData" (click)="showBooking(booking.id)">
      <td>{{booking.name}}</td>
      <td>{{booking.surname}}</td>
      <td>{{booking.transportViewBean.vehicle}}</td>
      <td>{{booking.dataTo | date}}</td>
      <td>{{booking.dataTo | date}}</td>
      <td>{{booking.price}}</td>
     <td class="buttons">

        <div class="row">
          <div class="col-sm-4">
            <button class="btn btn-primary" (click)="selectBooking(booking.id)">
              <fa name="pencil" fixed="true"></fa>
            </button>

          </div>
          <div class="col-sm-4">
            <button class="btn btn-danger" (click)="deleteBooking(booking.id)">
              <fa name="trash-o" fixed="true"></fa>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
